.App {
  text-align: center;
}

.navbar {
  background-color: #2196f3 !important;
}
.nav-item a {
  color: #fff;
}
footer {
  background-color: #2196f3 !important;
  color: #fff;
}

.loginbg{height: 100vh;}
.app-container { min-height: 88vh; overflow: hidden;}

.form-signin, .form-signup, .form-confirm-signup { padding: 30px; box-shadow: 0px 0px 10px 0px #333; border-radius: 10px; margin-top: 15vh;}
form .err span {
  color: #f00;
  margin-bottom: 10px;
  display: block;
}

.form-group .err, .formerr.err { text-align: left !important; display: block; font-size: 12px; color: #f00; padding-top: 4px; }

header .navbar .nav-item a.nav-link {
  color: #fff !important;
}
#userMenuItems{max-width: 15%;}

.clink{color:#fff !important;}

.report {padding-top: 88px;display: block;position: relative;}
.report .paging { padding-top: 20px; z-index: 1;}
/* Table css */
.report table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.report table td, .report table th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.report table tr:nth-child(even){background-color: #f2f2f2;}

.report table tr:hover {background-color: #ddd;}

.report table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #000;
  color: white;
}
/* table css ends */

.page-item .page-link{cursor: pointer;}
.page-link.active { background-color: #007bff; color: #fff; cursor: default;}
.pagination .pageinfo {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  background-color: #fff;
}
.pagination .ddown {
  position: relative;
  display: block;
  padding: 0.4rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  background-color: #fff;
  border: 1px solid #dee2e6;
}
.loading {
  background: #fff;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.5;
  z-index: 2;
}
.loaderimg{
  position: absolute;
    left: 50%;
    top: 50%;
    z-index: 3;
}
.hide {display: none;}
.show{display: block;}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
